image: fedora:latest

before_script:
  - dnf update -y
  - dnf install -y acl gawk which fakeroot rpm-build wget fedpkg gcc gcc-c++ make
  - umask 0022

build_rpm:
  stage: build
  script:
    - wget https://api.github.com/repos/GrapheneOS/hardened_malloc/tarball/2025110800
    - echo "459db5923930dfc04d1843413cb8877cd03a931d88878b0b31f816dae9900e6326a2bcc3b6030894718c02104492a730d97a6b4b45faa510305f602376b4be73  2025110800" | sha512sum -c
    - fedpkg --release f43 local
  artifacts:
    paths:
        - x86_64/hardened_malloc*.x86_64.rpm
        - hardened_malloc*.src.rpm
